body{
    background-color: rgb(19, 19, 19);
}

h1{
    font-family: 'Audiowide';
    text-align: center;
    color: white;
    text-decoration: underline;
    text-transform: capitalize;
    background-color: blue;
    margin: 60px 820px 20px 820px;
    padding: 5px 10px 5px 10px;;
    
    
}

h2{
    font-family: 'Audiowide';
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    color: aqua;
    font-style: italic;
    text-indent: 13px;
    margin: 40px 600px 40px 600px;
    padding: 10px 10px 10px 10px;
}

p{
    font-family: 'Audiowide';
    text-align: justify;
    color: white;
    font-size: 15px;
    font-variant: small-caps;
    text-indent: 13px;
    padding: 5px 20px 5px 20px;
    margin: 0px 600px 0px 600px;
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 53%, rgba(0, 8, 252, 1) 100%);
}

a{
    font-family: 'audiowide';
    text-align: center;
    color: purple;
    font-size: 15px;
    font-variant: small-caps;
    text-indent: 13px;
    margin-left: 260px;
}
